.list-header {
    font-size: var(--font-size-lg);
    text-align: center;
    margin-bottom: var(--space-xl);
    color: var(--color-text-dark);
}

@media (prefers-color-scheme: light) {
    .list-header {
        color: var(--color-text-light);
    }
}
