* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #282828;
    color: white;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #efefef;
    }

    body {
        color: black;
    }
}
